@model LearningManagementSystem.Application.Abstractions.Services.Major.MajorRequest


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control" id="Title" placeholder="Name">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacultyId" class="control-label">Faculty</label>
                    <select asp-for="FacultyId"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.Faculties,"Id","Name"))">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="FacultyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="EducationLanguage">Education Language</label>
                    <input asp-for="EducationLanguage" type="text" class="form-control" id="EducationLanguage" placeholder="Education Language">
                    <span asp-validation-for="EducationLanguage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="StateFunded">State Funded</label>
                    <input asp-for="StateFunded" type="checkbox" value="false" class="form-control" id="StateFunded" placeholder="State Funded">
                    <span asp-validation-for="StateFunded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Point">Point</label>
                    <input asp-for="Point" type="number" class="form-control" id="Point" placeholder="Point">
                    <span asp-validation-for="Point" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="Index">Cancel</button>
            </form>
        </div>
    </div>
</div>