@model LearningManagementSystem.Application.Abstractions.Services.Dean.DeanResponse
<!-- Modal -->
<div class="modal fade" id="detailModal-@Model.Id" tabindex="-1" aria-labelledby="detailModalLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel-@Model.Id">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Model.Faculty.Name</p>
                <p>@Model.AppUser.UserName</p>
                <iframe
                    src={@Url.Content($"~/{@Model.FileUrl}")}
                    style="width: 90%;height: 100%;border: none"
                ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>