@using LearningManagementSystem.Persistence.Filters
@model System.Collections.Generic.IList<LearningManagementSystem.Application.Abstractions.Services.Lesson.LessonResponse>

@{
    ViewBag.Title = "Group List";
}

<link rel="stylesheet" href="~/css/table.css">
<a class="btn btn-primary" asp-action="Create">Create</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Attendances</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("AssignAttendance", "Students",new{lessonId=item.Id})">
                    Attendances
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>