<div class="w-100 position-relative d-flex mb-2">
    <a asp-action="Chat" asp-controller="AIChat" class="position-absolute" style="right: 20px; bottom: 10px"><i class="fa-solid fa-comments display-4"></i></a>
</div>