<footer class="border-top footer text-muted py-5">
    <div class="container py-4">
        &copy; 2024 - LMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>