@model LearningManagementSystem.Application.Abstractions.Services.Question.QuestionRequest


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxPoint">MaxPoint</label>
                    <input asp-for="MaxPoint" type="number" class="form-control" id="MaxPoint" placeholder="MaxPoint">
                    <span asp-validation-for="MaxPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SurveyId" class="control-label">Survey</label>
                    <select asp-for="SurveyId"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.Surveys,"Id","Name"))">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="SurveyId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="Index">Cancel</button>
            </form>
        </div>
    </div>
</div>