@model System.Collections.Generic.IList<LearningManagementSystem.Application.Abstractions.Services.StudentExam.StudentExamResponse>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Exam</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Point</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Exam.Name</td>
            <td>@item.Exam.StartDate</td>
            <td>@item.Exam.EndDate</td>
            <td>@item.Point pts</td>
        </tr>
    }
    </tbody>
</table>